alias myip="curl http://ip.ie.mk/get"
alias ls="ls --color"
alias grep="rg"
alias virsh="virsh --connect qemu:///system"
alias cal="cal -m"
alias jsonpp='python -m json.tool | less'
alias genpasswd="strings /dev/urandom | tr -cd '12345!@#$%qwertQWERTasdfgASDFGzxcvbZXCVB' | head -c 32; echo"
