window {
  margin: 5px;
}

#input {
  margin: 1px;
  border: 2px dashed #4f4f4f;
  background-color: #f2f2ee;
}

#inner-box {
  margin: 5px;
  border: 2px solid #e5c07b;
  background-color: #f2f2ee;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  border-bottom: 2px dashed #4f4f4f;
}
